version: "3.8"

services:
  app:
    build: .
    container_name: python_app
    volumes:
      - ./src:/app
      - ../DSA:/app/dsa:ro
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  nginx:
    image: nginx:alpine
    container_name: python_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
